/* GOOGLE FONT => GRAND-HOTEL AND CATAMARAN */
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@400;800&family=Grand+Hotel&display=swap');
/* CSS GLOBAL VARIABLES */
:root{
    --clr-primary: #678e3e;
    --clr-primary-light: #beed8c;
    --clr-grey-1: #102a42;
    --clr-grey-5: #617d98;
    --clr-grey-10: #f1f5f8;
    --ff-Grand: 'Grand Hotel', cursive;
    --ff-Cata: 'Catamaran', sans-serif;
    --transition: all .3s linear;
    --radius: 0.5rem;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    line-height: 1.5;
}
.clearfix::before,
.clearfix::after
{
    content: "";
    clear: both;
    display: table;
}
a{
    text-decoration: none;
}
img{
    width: 100%;
    display: block;
}
.section-center{
    max-width: 1170px;
    width: 90vw;
    margin: 0 auto;
    padding: 4rem 0;
}
.btn{
    background-color: var(--clr-primary);
    color: white;
    padding: .5rem 1.7rem;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 2px;
    font-family: var(--ff-Cata);
    margin-top: 1.5rem;
    display: inline-block;
    outline: 3px solid var(--clr-primary);
    outline-offset: 3px;
    font-size: 1.7rem;
    transition: var(--transition);
}
.btn:hover{
    background-color: var(--clr-primary-light);
    color: var(--clr-primary);
}
/* MAINT ETRY */
.hero{
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)),url("../imgs/main-bcg.jpeg") center/cover no-repeat fixed;
    position: relative;
}
.banner{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: center;
    /* border: 3px solid red; */
}
.top-main-title{
    color: var(--clr-primary);
    text-transform: capitalize;
    font-size: 2rem;
    font-family: var(--ff-Grand);
}
.bottom-main-title{
    color: white;
    text-transform: uppercase;
    font-size: 3rem;
    font-family: var(--ff-Cata);
}
/* END OF MAINT ETRY */
/* LINEAR DIVIDER */
.divider{
    height: .4rem;
    background: linear-gradient(to left, var(--clr-primary), yellow, var(--clr-primary));
}
/* END OF LINEAR DIVIDER */
/* CATEGORIES */
.categories{
    background-color: var(--clr-grey-10);
}
.category{
    padding: 2.5rem 0;
    text-align: center;
    transition: var(--transition);
}
.category:hover{
    background-color: white;
    box-shadow: 0px 3px 0px var(--clr-primary);
}
.category-icon{
    font-size: 2rem;
    color: var(--clr-primary);
    display: inline-block;
    transition: var(--transition);
}
.category-title{
    text-transform: uppercase;
}
.category-text{
    max-width: 20rem;
    color: var(--clr-grey-5);
    margin: 0 auto;
}
.category:hover .category-icon{
    transform: translateY(-10px);
}
@media screen and (min-width: 578px){
    .category{
        float: left;
        width: 50%;
    }
}
@media screen and (min-width: 1200px){
    .category{
        float: left;
        width: 25%;
    }
}
/* END OF CATEGORIES */
/* ABOUT */
.about{
    max-width: 1170px;
    width: 85vw;
    margin: 0 auto;
}
.about-img{
    padding: 2rem 0;
}
.about-info{
    padding: 2rem 0;
    letter-spacing: 1.5px;
}
.about-img-container{
    background: var(--clr-primary);
    border: .5rem solid var(--clr-primary);
    overflow: hidden;
    max-width: 30rem;
}
.img-self{
    transition: var(--transition);
}
.about-img-container:hover .img-self{
    opacity: .7;
    transform: scale(1.3);
}
.about-top-title{
    font-family: var(--ff-Grand);
    text-transform: capitalize;
    color: var(--clr-primary);
    font-size: 2rem;
}
.about-bottom-title{
    font-family: var(--ff-Cata);
    text-transform: uppercase;
    font-size: 2.1rem;
}
.about-text{
    max-width: 22rem;
    color: var(--clr-grey-5);
}
.btnLearnMore{
    font-size: 1rem;
    outline: none;
}
@media screen and (min-width: 992px){
    .about-img,
    .about-info{
        float: left;
        width: 50%;
    }
    .about-info{
        padding-left: 1.5rem;
    }
}
/* END OF ABOUT */
/* PRODUCTS */
.products{
    background-color: var(--clr-grey-10);
}
.product{
    /* padding-top: 1rem; */
}
.products-center{
    max-width: 1170px;
    width: 90vw;
    margin: 0 auto;
    padding: 4rem 0;
}
.product-view{
    /* padding: 1rem 0; */
}
.product-info{
    /* padding: 1rem 0; */
}
.products-top-title{
    font-family: var(--ff-Grand);
    color: var(--clr-primary);
    font-size: 2rem;
    text-transform: capitalize;
}
.products-bottom-title{
    text-transform: uppercase;
    font-family: var(--ff-Cata);
}
.products-text{
    color: var(--clr-grey-5);
    max-width: 22rem;
}
.inventory{
    font-size: 1rem;
    padding: 0.375rem 0.75rem;
    outline: none;
    display: inline-block;
    margin-bottom: 1rem;
}
.product-img-container{
}
.product-self{
    border-radius: 10px;
    height: 17rem;
    object-fit: cover;
}
.product-name{
    font-family: var(--ff-Cata);
    text-transform: capitalize;
    font-weight: bolder;
    margin: .5rem 0;
}
.product-price{
    font-family: var(--ff-Cata);
    color: var(--clr-primary);
    letter-spacing: 1.5px;
    font-size: 1rem;
    margin: 0 0 2rem 0;
    font-weight: bolder;
}
@media screen and (min-width: 768px){
    .product{
        float: left;
        width: 50%;
        padding-right: 2rem;
    }
}
@media screen and (min-width: 992px){
    .product{
        float: left;
        width: 33.33%;
    }
}
@media screen and (min-width: 1200px){
    .product-info{
        float: left;
        width: 30%;
        padding: 1rem 0;
    }
    .product-views{
        float: left;
        width: 70%;
        padding: 1rem 0 1rem 2rem;
    }
}
/* END OF PRODUCTS */
/* SERVICES */
.services-titles{
    text-align: center;
}
.services-top-title{
    text-transform: capitalize;
    font-family: var(--ff-Grand);
    color: var(--clr-primary);
    font-size: 2rem;
}
.services-bottom-title{
    text-transform: capitalize;
    font-family: var(--ff-Cata);
    font-size: 2.5rem;
}
.services-center{
    max-width: 1170px;
    width: 90vw;
    margin: 0 auto;
    padding: 4rem 0;
}
.service{
    background-color: var(--clr-grey-10);
    margin-bottom: 2rem;
    border-radius: 20px;
    box-shadow: 0px 5px 10px rgba(0,0,0,.2);
    transition: var(--transition);
    /* margin-bottom: 5rem; */
}
.service:hover{
    transform: scale(1.02);
    box-shadow: 0px 7px 10px rgba(0,0,0,.5);
}
.service-img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 17rem;
    object-fit: cover;
}
.service-img-container{
    position: relative;
}
.service-icon{
    color: var(--clr-primary);
    background-color: var(--clr-primary-light);
    padding: 0.25rem 0.6rem;
    border-radius: 50%;
    border: .5rem solid var(--clr-grey-10);
    left: 50%;
    bottom: 0;
    font-size: 2rem;
    position: absolute;
    transform: translate(-50%, 50%);
}
.service-card-bottom{
    text-align: center;
    padding: 2rem 0;
}
.service-title{
    text-transform: capitalize;
    font-family: var(--ff-Cata);
    font-size: 1.1rem;
    letter-spacing: 2px;
}image.png
.service-text{
    max-width: 20rem;
    margin: 0 auto;
    color: var(--clr-grey-5);
}
.readMoreBtn{
    cursor: pointer;
    padding: .5rem 1.2rem;
    text-transform: capitalize;
    background-color: var(--clr-primary);
    color: white;
    border: none;
    border-radius: 10px;
    transition: var(--transition);
    margin: 2rem 0 1rem 0;
    letter-spacing: 1.5px;
    font-weight: bolder;
}
.readMoreBtn:hover{
    background-color: var(--clr-primary-light);
    color: var(--clr-primary);
}
@media screen and (min-width: 768px){
    .service{
        float: left;
        width: 45%;
        margin-right: 5%;
    }
}
@media screen and (min-width: 992px){
    .service{
        float: left;
        width: 30%;
        margin-right: 3.33%;
    }
}
/* END OF SERVICES */
/* CONTACT */
.contact{
    padding: 4rem 0;
    background-color: var(--clr-grey-10);
}
.contact-center{
    max-width: 1170px;
    width: 85vw;
    margin: 0 auto;
}
.contact-info,
.contact-form{
    margin-top: 2rem;
}
.infos{
    color: var(--clr-primary);
    text-transform: uppercase;
    font-family: var(--ff-Cata);
    padding: .5rem 0;
}
.real-info{
    text-transform: uppercase;
    font-family: var(--ff-Cata);
    font-weight: lighter;
    letter-spacing: 2.5px;
    word-spacing: 2px;
    color: black;
    padding: 1rem 0;
}
.contact-mail{
    color: tomato;
    text-transform: lowercase;
}
.contact-form{
    background-color: #fff;
    border-radius: 10px;
    max-width: 35rem;
}
.contact-title{
    text-align: center;
    text-transform: capitalize;
    font-family: var(--ff-Cata);
    letter-spacing: 1.5px;
    font-size: 1.8rem;
    color: var(--clr-grey-5);
}
.form-group{
    padding: 1rem 1.5rem;
}
.form-control{
    display: block;
    width: 100%;
    padding: 1rem;
    margin: .5rem 0;
    border-radius: 10px;
    border: none;
    background-color: var(--clr-grey-10);
}
.contactSubmitBtn{
    display: block;
    width: 100%;
    padding: .5rem 1rem;
    background-color: var(--clr-primary);
    color: white;
    font-weight: bolder;
    border: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-transform: uppercase;
    font-size: 1.1rem;
    letter-spacing: 2px;
    font-family: var(--ff-Cata);
    transition: all .3s linear;
    cursor: pointer;
}
.contactSubmitBtn:hover{
    background-color: var(--clr-primary-light);
    color: var(--clr-primary);
}
@media screen and (min-width: 992px){
    .contact-info,
    .contact-form{
        float: left;
        width: 50%;
    }
}
/* END OF CONTACT */
/* FOOTER */
.footer{
    background-color: rgb(30, 30, 30);
}
.footer-center{
    max-width: 1170px;
    width: 90vw;
    margin: 0 auto;
    padding: 4rem 0;
}
.top-foot{
    color: white;
    font-size: 1.8rem;
    text-align: center;
    padding: .5rem 0;
}
.footer-icon-a:hover{
    color: var(--clr-primary);
}
.bot-foot{
    color: white;
    text-align: center;
    font-size: 1rem;
    text-transform: uppercase;
    font-family: var(--ff-Cata);
    font-weight: lighter;
    letter-spacing: 2px;
}
.footer-icon-a{
    color: white;
    padding-left: 2rem;
    transition: var(--transition);
}
.site-name{
    color: var(--clr-primary);
}
/* END OF FOOTER */